input{
width: 500px;

}
.main{
   
    border: ;
    width: 50%;
    display: inline-block;
}
.voice{
   w
    top: 5;
    right: 5;
  
}
.find{
   position: absolute;
    top: 1;
    left: 3;
    padding-right: 800px;
    
}
